#style-switcher h2 a {
    background: #9615e4;
}

.status{
    background: #9615e4 !important;
}

.contact-us{
    background: #9615e4 !important;
}

.pricing .item-top{
    background: #9615e4 !important;
}