#style-switcher h2 a {
    background: #ea9001;
}

.status{
    background: #ea9001 !important;
}

.contact-us{
    background: #ea9001 !important;
}

.pricing .item-top{
    background: #ea9001 !important;
}